
.footer-cont {
    display: flex;
    background: #1F252F;
    color: white;
    font-size: 1.2rem;
    justify-content: space-between;
    padding: 6rem;
    margin: 4rem 2rem;
    border-radius: 5rem;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

.footer-icon{
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.7rem ;
    /* margin: 1rem ; */
}

.footer-icon:hover {
    color: rgb(79, 211, 255);
    border: 1px solid rgb(79, 211, 255);
}

.footer-part-two {
    text-align: right;
    margin-top: 2rem;
}

.footer-address {
    margin: 5rem 1rem;
}

.footer-tg-one {
    font-size: 5rem;
    font-weight: 600;
    height: fit-content;
    margin: 0 0 1rem 0;
    padding: 0;
}

.footer-contact-btn {
    display: flex;
    align-items: center;
    background: #1F252F;
    border: 1px white solid;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    margin-bottom: 10rem;
}

.footer-contact-btn:hover {
    color: #000;
    background: white;
}

.footer-link {
    text-decoration: none;
    color: white;
    margin: 0 1rem;
}


.footer-link:hover {
    color: rgb(79, 211, 255);
}

